{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} {{ getComponentFieldValue("3488ef37-a844-4cd1-be55-9cbe7097d1ca") | raw }} {{ coh_instance_class }} coh-ce-cpt_hero-453a75b5" > {% set hideData %}{{ getComponentFieldValue('c205de8f-490a-45f5-bdf7-1302262dff29', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_container') }} <nav class="coh-container {{ getComponentFieldValue("c205de8f-490a-45f5-bdf7-1302262dff29") | raw }} coh-ce-cpt_hero-fedf769c" aria-label="Breadcrumb" > {% set breadcrumb = cohesion_breadcrumb() %} {% if breadcrumb %} <ul class="coh-breadcrumb coh-style-breadcrumbs"> {% for item in breadcrumb %} <li> {% if item.url %} <a href="{{ item.url }}">{{ item.text }}</a> {% else %} {{ item.text }} {% endif %} </li> {% endfor %} </ul> {% endif %} </nav> {% endif %} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container {{ getComponentFieldValue("a81fe8e5-6819-419b-b672-1992944d6e0e") | raw }} {{ getComponentFieldValue("8f06b2b8-2cf7-46e4-a157-df4ecb82616e") | raw }} coh-style-padding-top-bottom-large coh-ce-cpt_hero-48d68960 coh-container-boxed" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container text-content coh-ce-cpt_hero-77bc8a97" > <h1 class="coh-heading heading {{ getComponentFieldValue("d2da98a2-83de-4f65-b9f1-3495b3eba524") | raw }} coh-ce-cpt_hero-fd5ded85" > {{ getComponentFieldValue("cd6ec798-08ed-410b-aff8-186718f29eba") | raw }}{{ getComponentFieldValue("33467589-5892-41d3-b1c1-fe04f053df8e") | raw }} </h1> {{ attach_library('cohesion/coh_element_wysiwyg') }} <div class="coh-wysiwyg {{ getComponentFieldValue("09a46fc3-8aad-4aab-aceb-efae824bb9c0") | raw }}" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('78ab8d68-8bc0-4ada-a668-3c24c67a94e0', 'Array') }}" data-ssa-form-type="form-wysiwyg"{% endif %} > {% set wysiwyg %}{{ getComponentFieldValue('78ab8d68-8bc0-4ada-a668-3c24c67a94e0', '#text') }}{% endset %} {% set text_format %}{{ getComponentFieldValue('78ab8d68-8bc0-4ada-a668-3c24c67a94e0', '#textFormat') }}{% endset %} {% set token_text %}{{ getComponentFieldValue('78ab8d68-8bc0-4ada-a668-3c24c67a94e0', '') }}{% endset %} {{ format_wysiwyg(wysiwyg, text_format, token_text) }} </div> {% set nid_485723338 %}{{ getComponentFieldValue("d7dc850d-3030-4316-b778-40aba3465abf") | raw }}{% endset %}{% set hideData %}{% if nid_485723338 != '' %}{{ path_renderer(nid_485723338) }}{% endif %}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_link') }} <a href="{% set entityId %}{{ getComponentFieldValue("d7dc850d-3030-4316-b778-40aba3465abf") | raw }}{% endset %}{% if entityId != '' %}{{ path_renderer(entityId) }}{% endif %}" class="coh-link {{ getComponentFieldValue("de884b6a-5562-42c2-b6c7-2b10cde62135") | raw }} coh-ce-cpt_hero-55f19225" {% if getComponentFieldValue('2870bc76-3def-451f-ae8e-c43c3315a3a6') != '' %}target="{{ getComponentFieldValue('2870bc76-3def-451f-ae8e-c43c3315a3a6') }}"{% endif %} > {{ getComponentFieldValue("b7b68756-96df-45b6-a611-060f86836d06") | raw }}    </a> {% endif %} </div> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container drop-zone-content coh-ce-cpt_hero-65b810ab" > {{ getComponentFieldValue("c87df6db-a4d4-4710-a628-54bb5feda3af") }} </div> </div> </div> 
{% set compiledCSS %}<style>@media (min-width: 1400px) {
  .{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
{% if getComponentFieldValue("fd8a192f-0ba9-42b8-9d95-151291824a5f") is not empty %}     {% if getComponentFieldValue("fd8a192f-0ba9-42b8-9d95-151291824a5f") is not empty %} background-color: {{ getComponentFieldValue("fd8a192f-0ba9-42b8-9d95-151291824a5f") | raw }};{% endif %}{% endif %}
  }
}
@media (min-width: 565px) {
  .image-no-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}     {% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %} background-image: url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}");{% endif %}{% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 768px) {
  .image-no-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}     {% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %} background-image: url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}");{% endif %}{% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 1400px) {
  .image-no-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}     {% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %} background-image: url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}");{% endif %}{% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media (min-width: 565px) {
  .image-dark-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
@media (min-width: 768px) {
  .image-dark-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
@media (min-width: 1400px) {
  .image-dark-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
@media (min-width: 565px) {
  .image-light-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_small_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
@media (min-width: 768px) {
  .image-light-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_medium_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
@media (min-width: 1400px) {
  .image-light-overlay.{{ coh_instance_class }}.coh-ce-cpt_hero-453a75b5 {
    {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("298f9e5d-49ed-428b-ac9c-5802cecb03fb") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
    background-position: center, center top;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}