{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} match-height {{ getComponentFieldValue("7b0a4770-7992-4a5c-a818-56c86fab9863") | raw }} {{ getComponentFieldValue("313c9a10-78bb-4aba-ae59-ed0c97cd9da3") | raw }} {{ getComponentFieldValue("a359153a-d2f3-4674-80b7-54157a8312e9") | raw }} {{ coh_instance_class }} coh-ce-cpt_container-9a0b15e" > {{ getComponentFieldValue("607bea75-388b-4ee9-ad5d-dd5d23a695fd") }} </div> 
{% set compiledCSS %}<style>.{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
{% if getComponentFieldValue("8bdf6712-e6a6-4113-b2c7-121be7d69e81") is not empty %}   {% if getComponentFieldValue("8bdf6712-e6a6-4113-b2c7-121be7d69e81") is not empty %} background-color: {{ getComponentFieldValue("8bdf6712-e6a6-4113-b2c7-121be7d69e81") | raw }};{% endif %}{% endif %}
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
{% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %}   {% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %} -webkit-box-flex: {{ getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %}   {% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %} -webkit-flex-grow: {{ getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %}       {% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %} -ms-flex-positive: {{ getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %}           {% if getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") is not empty %} flex-grow: {{ getComponentFieldValue("bfe820d9-a376-4a55-9e90-b81109ec44df") | raw }};{% endif %}{% endif %}
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
{% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %}   {% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %} -webkit-box-pack: {{ getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %}   {% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %} -webkit-justify-content: {{ getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %}       {% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %} -ms-flex-pack: {{ getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %}           {% if getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") is not empty %} justify-content: {{ getComponentFieldValue("dc80fcc4-aaa5-4726-b8fc-3c84d980b308") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("46884351-67e9-4fc0-a863-a403ab338cea") is not empty %}   {% if getComponentFieldValue("46884351-67e9-4fc0-a863-a403ab338cea") is not empty %} min-height: {{ getComponentFieldValue("46884351-67e9-4fc0-a863-a403ab338cea") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") is not empty %}   {% if getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") is not empty %} padding-top: {{ getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") is not empty %}   {% if getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") is not empty %} padding-right: {{ getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") is not empty %}   {% if getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") is not empty %} padding-bottom: {{ getComponentFieldValue("e33b8e6e-cd37-428c-b4a7-75666fea557c") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") is not empty %}   {% if getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") is not empty %} padding-left: {{ getComponentFieldValue("531fe114-854c-49e3-8198-f38b64b8f899") | raw }};{% endif %}{% endif %}
}
@media (max-width: 1169px) {
  .{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
{% if getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") is not empty %}     {% if getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") is not empty %} padding-top: {{ getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") is not empty %}     {% if getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") is not empty %} padding-right: {{ getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") is not empty %}     {% if getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") is not empty %} padding-bottom: {{ getComponentFieldValue("a9da6221-2b3b-4bcc-b338-ec47db3b2d8d") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") is not empty %}     {% if getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") is not empty %} padding-left: {{ getComponentFieldValue("cd9c76ff-78d1-4e30-9d5f-6df9e9d24e3d") | raw }};{% endif %}{% endif %}
  }
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
{% if getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") is not empty %} {% if getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") is not empty %}     {% if getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") is not empty %} min-height: {{ getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") | raw }};{% endif %}{% endif %}{% endif %}
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
    {% if getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") is not empty %} min-height: {{ getComponentFieldValue("f23c2b31-165d-4e73-a9d3-74f28dce2ac3") | raw }};{% endif %}
{% if getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") is not empty %}     {% if getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") is not empty %} padding-top: {{ getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") is not empty %}     {% if getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") is not empty %} padding-right: {{ getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") is not empty %}     {% if getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") is not empty %} padding-bottom: {{ getComponentFieldValue("8323b139-1c56-4c04-8624-4df7a2e1cc8a") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") is not empty %}     {% if getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") is not empty %} padding-left: {{ getComponentFieldValue("45a1030e-a444-4b33-a7a2-8a26c9ce2706") | raw }};{% endif %}{% endif %}
  }
}
.image-no-overlay.{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}   {% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %} background-image: url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}");{% endif %}{% endif %}
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.image-dark-overlay.{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
  {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  background-position: center, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
}
.image-light-overlay.{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
  {% set items = [] %}{% set item %}-webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255, 255, 255, 0.294)), to(rgba(255, 255, 255, 0.3))){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  {% set items = [] %}{% set item %}-webkit-linear-gradient(left, rgba(255, 255, 255, 0.294) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  {% set items = [] %}{% set item %}linear-gradient(90deg, rgba(255, 255, 255, 0.294) 1%, rgba(255, 255, 255, 0.3) 100%){% endset %}{% set items = items | merge([item]) %}{% if getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") is not empty %}{% set item %}url("{% set src %}{{ getComponentFieldValue("edab4d63-4c6d-4a10-ba42-cb3a09934ae9") | raw }}{% endset %}{% set imagestyle %}coh_xx_large_landscape{% endset %}{{ cohesion_image_style(src, imagestyle)}}"){% endset %}{% set items = items | merge([item]) %}{% else %}{% set items = items | merge(['none']) %}{% endif %}background-image: {{ items|join(', ')|raw }};
  background-position: center, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: scroll, scroll;
}
.border.{{ coh_instance_class }}.coh-ce-cpt_container-9a0b15e {
  border-width: 0.0625rem;
  border-style: solid;
{% if getComponentFieldValue("1eb62db4-c39c-402f-9b1f-32d522f10843") is not empty %}   {% if getComponentFieldValue("1eb62db4-c39c-402f-9b1f-32d522f10843") is not empty %} border-color: {{ getComponentFieldValue("1eb62db4-c39c-402f-9b1f-32d522f10843") | raw }};{% endif %}{% endif %}
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}